/* .ant-menu-item.ant-menu-item-selected {
    background-color: #f7e9e3;
    color: #FF7F50; 
} */

/* .ant-pagination .ant-table-pagination .ant-table-pagination-right .css-dev-only-do-not-override-1c0na6j {
    color: #FF7F50;
} */


